 #root {
  margin: 0 auto;
  text-align: center;
  font-family: "Montserrat", "sans-serif";
} 


.footer-title{
  @apply font-bold text-base text-[#252B42] leading-5
}


.button {
  @apply text-white px-4 py-3 sm:px-8 sm:py-3 font-bold rounded-md border text-sm;

}

.first-button {
  @apply bg-green-500 hover:bg-transparent hover:border-green-500 hover:text-green-500;
}

.second-button {
  @apply bg-green-500 hover:bg-transparent hover:border-green-500 hover:text-green-500;
}

.third-button {
  @apply bg-blue-500 hover:bg-transparent hover:border-blue-500 text-white w-[120px] h-[52px] 
}

.secondary-text {
  @apply text-[#808080];
}
