:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, 'Montserrat';
    line-height: 1.5;
    font-weight: 400;
    
  }
  
  .font-container {
    font-family: "Montserrat", sans-serif;
  }

 
@media screen and (max-width:1940px) {
  .carousel-item img {
    height: 1500px;
    object-fit: cover;
  }

  .carousel-item2 img {
    height: 750px;
    object-fit: contain;
    margin-left: 300px;
    margin-top: 120px;
  }
}

  

@tailwind base;
@tailwind components;
@tailwind utilities;