:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif, 'Montserrat';
    line-height: 1.5;
    font-weight: 400;
    
  }
  
  .font-container {
    font-family: "Montserrat", sans-serif;
  }

@tailwind base;
@tailwind components;
@tailwind utilities;